{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block css %}{% bootstrap_css %}{% endblock css %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="mb-3">
    <label class="form-label" for="id_paid_at">소비일시</label>
    <input type="datetime-local" name="paid_at" class="form-control" placeholder="소비일시" required="" id="id_paid_at">
  </div>
  <button class="btn btn-primary" type="submit">submit</button>
</form>
{% endblock content %}

{% block js %}{% bootstrap_javascript %}{% endblock js %}