{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load humanize %}

{% block css %}{% bootstrap_css %}{% endblock css %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">금액</th>
        <th scope="col">일시</th>
        <th scope="col">수정/삭제</th>
      </tr>
    </thead>
    <tbody>
      {% for ledger in ledgers %}
        <tr>
          <th scope="row">{{ ledger.categories }}</th>
          <td><a href="{% url 'ledgers:detail' ledger.pk%}">{{ ledger.title }}</a></td>
          <td>{{ ledger.paymoney|intcomma }}</td>
          <td>{{ ledger.paid_at|date:'y-m-d H:i'}}</td>
          <td><a href="{% url 'ledgers:update' ledger.pk %}" style="text-decoration:none; color:black; font-weight:bold;">🖊</a> / <a href="{% url 'ledgers:delete' ledger.pk %}" style="text-decoration:none; color:black; font-weight:bold;">🗑</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}

{% block js %}{% bootstrap_javascript %}{% endblock js %}