{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
  </style>
  {% block css %}
  {% endblock css %}
</head>
<body>
  {% include "nav.html" %}
  {% if messages %}
  {% for message in messages %}
  <div class="toast show text-bg-{{ message.tags }} mb-3" aria-live="assertive" aria-atomic="true"
    style="position: relative; top: 2rem; left: 2rem; z-index:3;">
    <div class="toast-header">
      <strong class="me-auto">알림
      </strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ message }}
    </div>
  </div>
  {% endfor %}
  {% endif %}
  
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  {% block js %}
  {% endblock js %}
</body>
</html>